Package: cross-platform-download-manager
Version: 0.4.0
Section: utils
Priority: optional
Architecture: amd64
Installed-Size: 137442
Depends: libx11-6, libice6, libsm6, libfontconfig1, ca-certificates, tzdata, libc6, libgcc1 | libgcc-s1, libgssapi-krb5-2, libstdc++6, zlib1g, libssl1.0.0 | libssl1.0.2 | libssl1.1 | libssl3, libicu | libicu74 | libicu72 | libicu71 | libicu70 | libicu69 | libicu68 | libicu67 | libicu66 | libicu65 | libicu63 | libicu60 | libicu57 | libicu55 | libicu52
Maintainer: Adel Bakhshi <adelbakhshi78@yahoo.com>
Homepage: https://github.com/adel-bakhshi/CrossPlatformDownloadManager
Description: Cross-platform download manager with resume support
CDM is a user-friendly tool for efficient file downloading across platforms,
offering queue management and reliable performance. Released under AGPL.
