[Desktop Entry]
Name=Cross platform Download Manager (CDM)
Comment=Cross platform Download Manager (CDM) is a powerful download manager application
Icon=adel.bakhshi.cdm
Exec=adel.bakhshi.cdm
StartupWMClass=CrossPlatformDownloadManager.DesktopApp
Terminal=false
Type=Application
Categories=Utility;
GenericName=Cross platform Download Manager (CDM)
Keywords=download;downloader;manager;cdm;cross-platform;internet;
