name: Build and Release CDM

on:
  push:
    tags:
      - "v*"

jobs:
  setup:
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.get_version.outputs.version }}

    env:
      currVer: ${{ github.ref_name }}

    steps:
      - name: Extract Version Number
        id: get_version
        shell: bash
        run: |
          version="${currVer#v}"
          echo "version=$version" >> $GITHUB_OUTPUT
          echo "Extracted version: $version"

  build-windows:
    needs: setup
    runs-on: windows-latest
    strategy:
      matrix:
        rid: ["win-x64", "win-arm64"]

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v5

      - name: Setup .NET
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 10.x

      - name: Install Inno Setup
        run: choco install innosetup -y

      - name: Install Netloy
        run: dotnet tool install -g Netloy

      - name: Restore Dependencies
        run: |
          cd ./src
          dotnet restore

      - name: Build Windows EXE Package
        run: |
          cd ./Deploy
          netloy -t exe -r ${{ matrix.rid }} -y -o "Output/Cross-platform.Download.Manager.${{ needs.setup.outputs.version }}.${{ matrix.rid }}.exe"

      - name: Build Windows MSI Package
        run: |
          cd ./Deploy
          netloy -t msi -r ${{ matrix.rid }} -y -o "Output/Cross-platform.Download.Manager.${{ needs.setup.outputs.version }}.${{ matrix.rid }}.msi"

      - name: Build Windows ZIP Portable
        run: |
          cd ./Deploy
          netloy -t portable -r ${{ matrix.rid }} -y -o "Output/Cross-platform.Download.Manager.${{ needs.setup.outputs.version }}.${{ matrix.rid }}.zip"

      - name: Remove PDB Files
        run: Remove-Item -Path "./Deploy/Output/*.pdb" -Force -ErrorAction SilentlyContinue
        shell: pwsh

      - name: Upload Windows Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.rid }}-packages
          path: |
            ./Deploy/Output/*
            !./Deploy/Output/*.pdb

  build-linux-x64:
    needs: setup
    runs-on: ubuntu-latest # x64 runner
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v5

      - name: Setup .NET
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 10.x

      - name: Install Dependencies
        env:
          DEBIAN_FRONTEND: noninteractive
          NEEDRESTART_MODE: l
        run: |
          sudo apt update
          sudo apt-get install -y zip rpm zstd libfuse2t64

      - name: Install x86_64 AppImageTool
        run: |
          wget https://github.com/AppImage/appimagetool/releases/download/continuous/appimagetool-x86_64.AppImage
          chmod +x ./appimagetool-x86_64.AppImage
          sudo mv ./appimagetool-x86_64.AppImage /usr/local/bin/appimagetool

      - name: Install Netloy
        run: dotnet tool install -g Netloy

      - name: Restore Dependencies
        run: |
          cd ./src
          dotnet restore

      - name: Build Linux DEB Package
        run: |
          cd ./Deploy
          netloy -t deb -r linux-x64 -y -o "Output/Cross-platform.Download.Manager.${{ needs.setup.outputs.version }}.linux-x64.deb"

      - name: Build Linux RPM Package
        run: |
          cd ./Deploy
          netloy -t rpm -r linux-x64 -y -o "Output/Cross-platform.Download.Manager.${{ needs.setup.outputs.version }}.linux-x64.rpm"

      - name: Build Linux AppImage Package
        run: |
          cd ./Deploy
          netloy -t appimage -r linux-x64 -y -o "Output/Cross-platform.Download.Manager.${{ needs.setup.outputs.version }}.linux-x64.AppImage"

      - name: Build Linux TAR.GZ Portable
        run: |
          cd ./Deploy
          netloy -t portable -r linux-x64 -y -o "Output/Cross-platform.Download.Manager.${{ needs.setup.outputs.version }}.linux-x64.tar.gz"

      - name: Upload Linux Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: linux-x64-packages
          path: ./Deploy/Output/*

  build-linux-arm64:
    needs: setup
    runs-on: ubuntu-24.04-arm # ARM64 runner
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v5

      - name: Setup .NET
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 10.x

      - name: Install Dependencies
        env:
          DEBIAN_FRONTEND: noninteractive
          NEEDRESTART_MODE: l
        run: |
          sudo apt update
          sudo apt-get install -y zip rpm zstd libfuse2t64

      - name: Install ARM64 AppImageTool
        run: |
          wget https://github.com/AppImage/appimagetool/releases/download/continuous/appimagetool-aarch64.AppImage
          chmod +x ./appimagetool-aarch64.AppImage
          sudo mv ./appimagetool-aarch64.AppImage /usr/local/bin/appimagetool

      - name: Install Netloy
        run: dotnet tool install -g Netloy

      - name: Restore Dependencies
        run: |
          cd ./src
          dotnet restore

      - name: Build Linux DEB Package
        run: |
          cd ./Deploy
          netloy -t deb -r linux-arm64 -y -o "Output/Cross-platform.Download.Manager.${{ needs.setup.outputs.version }}.linux-arm64.deb"

      - name: Build Linux RPM Package
        run: |
          cd ./Deploy
          netloy -t rpm -r linux-arm64 -y -o "Output/Cross-platform.Download.Manager.${{ needs.setup.outputs.version }}.linux-arm64.rpm"

      - name: Build Linux AppImage Package
        run: |
          cd ./Deploy
          netloy -t appimage -r linux-arm64 -y -o "Output/Cross-platform.Download.Manager.${{ needs.setup.outputs.version }}.linux-arm64.AppImage"

      - name: Build Linux TAR.GZ Portable
        run: |
          cd ./Deploy
          netloy -t portable -r linux-arm64 -y -o "Output/Cross-platform.Download.Manager.${{ needs.setup.outputs.version }}.linux-arm64.tar.gz"

      - name: Upload Linux Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: linux-arm64-packages
          path: ./Deploy/Output/*

  build-macos:
    needs: setup
    runs-on: macos-latest
    strategy:
      matrix:
        rid: ["osx-x64", "osx-arm64"]

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v5

      - name: Setup .NET
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 10.x

      - name: Install Netloy
        run: dotnet tool install -g Netloy

      - name: Restore Dependencies
        run: |
          cd ./src
          dotnet restore

      - name: Build macOS App Bundle
        run: |
          cd ./Deploy
          netloy -t app -r ${{ matrix.rid }} -y -o "Output/Cross-platform.Download.Manager.${{ needs.setup.outputs.version }}.${{ matrix.rid }}.app.zip"

      - name: Build macOS DMG Package
        run: |
          cd ./Deploy
          netloy -t dmg -r ${{ matrix.rid }} -y -o "Output/Cross-platform.Download.Manager.${{ needs.setup.outputs.version }}.${{ matrix.rid }}.dmg"

      - name: Upload macOS Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.rid }}-packages
          path: ./Deploy/Output/*

  release:
    needs: [setup, build-windows, build-linux-x64, build-linux-arm64, build-macos]
    runs-on: ubuntu-latest
    steps:
      - name: Download Windows x64 Artifacts
        uses: actions/download-artifact@v4
        with:
          name: win-x64-packages
          path: artifacts/

      - name: Download Windows ARM64 Artifacts
        uses: actions/download-artifact@v4
        with:
          name: win-arm64-packages
          path: artifacts/

      - name: Download Linux x64 Artifacts
        uses: actions/download-artifact@v4
        with:
          name: linux-x64-packages
          path: artifacts/

      - name: Download Linux ARM64 Artifacts
        uses: actions/download-artifact@v4
        with:
          name: linux-arm64-packages
          path: artifacts/

      - name: Download macOS x64 Artifacts
        uses: actions/download-artifact@v4
        with:
          name: osx-x64-packages
          path: artifacts/

      - name: Download macOS ARM64 Artifacts
        uses: actions/download-artifact@v4
        with:
          name: osx-arm64-packages
          path: artifacts/

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          name: Cross platform Download Manager ${{ github.ref_name }}
          files: artifacts/*
          token: ${{ secrets.GITHUB_TOKEN }}
