name: Build and Release CDM

on:
  push:
    tags:
      - "v*"

jobs:
  setup:
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.get_version.outputs.version }}

    env:
      currVer: ${{ github.ref_name }}

    steps:
      - name: Extract Version Number
        id: get_version
        shell: bash
        run: |
          version="${currVer#v}"
          echo "version=$version" >> $GITHUB_OUTPUT
          echo "Extracted version: $version"

  build-windows:
    needs: setup
    runs-on: windows-latest
    strategy:
      matrix:
        rid: ["win-x64", "win-arm64"]

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v5

      - name: Setup .NET
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 10.x.x

      - name: Install Inno Setup
        run: choco install innosetup -y

      - name: Install Netloy
        run: dotnet tool install -g Netloy

      - name: Restore Dependencies
        run: dotnet restore

      - name: Build Windows EXE Package
        run: netloy -t exe -r ${{ matrix.rid }} -y -o "Cross-platform.Download.Manager.${{ needs.setup.outputs.version }}.${{ matrix.rid }}.exe"

      - name: Build Windows MSI Package
        run: netloy -t msi -r ${{ matrix.rid }} -y -o "Cross-platform.Download.Manager.${{ needs.setup.outputs.version }}.${{ matrix.rid }}.msi"

      - name: Build Windows ZIP Portable
        run: netloy -t portable -r ${{ matrix.rid }} -y -o "Cross-platform.Download.Manager.${{ needs.setup.outputs.version }}.${{ matrix.rid }}.zip"

      - name: Upload Windows Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.rid }}-packages
          path: ./Deploy/bin/*

  build-linux:
    needs: setup
    runs-on: ubuntu-latest
    strategy:
      matrix:
        rid: ["linux-x64", "linux-arm64"]

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v5

      - name: Setup .NET
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 10.x.x

      - name: Install Dependencies
        run: |
          sudo apt update
          sudo apt-get install -y zip rpm zstd fuse libfuse2

      - name: Install x86_64 AppImageTool
        if: matrix.rid == 'linux-x64'
        run: |
          wget https://github.com/AppImage/appimagetool/releases/download/continuous/appimagetool-x86_64.AppImage
          chmod +x ./appimagetool-x86_64.AppImage
          echo "$PWD" >> $GITHUB_PATH

      - name: Install arm64 AppImageTool
        if: matrix.rid == 'linux-arm64'
        run: |
          wget https://github.com/AppImage/appimagetool/releases/download/continuous/appimagetool-aarch64.AppImage
          chmod +x ./appimagetool-aarch64.AppImage
          echo "$PWD" >> $GITHUB_PATH

      - name: Install Netloy
        run: dotnet tool install -g Netloy

      - name: Restore Dependencies
        run: dotnet restore

      - name: Build Linux DEB Package
        run: netloy -t deb -r ${{ matrix.rid }} -y -o "Cross-platform.Download.Manager.${{ needs.setup.outputs.version }}.${{ matrix.rid }}.deb"

      - name: Build Linux RPM Package
        run: netloy -t rpm -r ${{ matrix.rid }} -y -o "Cross-platform.Download.Manager.${{ needs.setup.outputs.version }}.${{ matrix.rid }}.rpm"

      - name: Build Linux AppImage Pakcage
        run: netloy -t appimage -r ${{ matrix.rid }} -y -o "Cross-platform.Download.Manager.${{ needs.setup.outputs.version }}.${{ matrix.rid }}.AppImage"

      - name: Build Linux TAR.GZ Portable
        run: netloy -t portable -r ${{ matrix.rid }} -y -o "Cross-platform.Download.Manager.${{ needs.setup.outputs.version }}.${{ matrix.rid }}.tar.gz"

      - name: Upload Linux Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.rid }}-packages
          path: ./Deploy/bin/*

  build-macos:
    needs: setup
    runs-on: macos-latest
    strategy:
      matrix:
        rid: ["osx-x64", "osx-arm64"]

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v5

      - name: Setup .NET
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 10.x.x

      - name: Install Netloy
        run: dotnet tool install -g Netloy

      - name: Restore Dependencies
        run: dotnet restore

      - name: Build macOS App Bundle
        run: netloy -t app -r ${{ matrix.rid }} -y -o "Cross-platform.Download.Manager.${{ needs.setup.outputs.version }}.${{ matrix.rid }}.app.zip"

      - name: Build macOS DMG Package
        run: netloy -t dmg -r ${{ matrix.rid }} -y -o "Cross-platform.Download.Manager.${{ needs.setup.outputs.version }}.${{ matrix.rid }}.dmg"

      - name: Upload macOS Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.rid }}-packages
          path: ./Deploy/bin/*

  release:
    needs: [setup, build-windows, build-linux, build-macos]
    runs-on: ubuntu-latest
    steps:
      - name: Download Windows x64 Artifacts
        uses: actions/download-artifact@v4
        with:
          name: win-x64-packages
          path: artifacts/

      - name: Download Windows ARM64 Artifacts
        uses: actions/download-artifact@v4
        with:
          name: win-arm64-packages
          path: artifacts/

      - name: Download Linux x64 Artifacts
        uses: actions/download-artifact@v4
        with:
          name: linux-x64-packages
          path: artifacts/

      - name: Download Linux ARM64 Artifacts
        uses: actions/download-artifact@v4
        with:
          name: linux-arm64-packages
          path: artifacts/

      - name: Download macOS x64 Artifacts
        uses: actions/download-artifact@v4
        with:
          name: osx-x64-packages
          path: artifacts/

      - name: Download macOS ARM64 Artifacts
        uses: actions/download-artifact@v4
        with:
          name: osx-arm64-packages
          path: artifacts/

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          name: Cross platform Download Manager ${{ github.ref_name }}
          files: artifacts/*
          token: ${{ secrets.GITHUB_TOKEN }}
